.wrapper {
    width: 356px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    margin-top: var(--default-layout-header-height);
    position: fixed;
    overflow-y: overlay;
    max-height: 100%;
    top: 0;

    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
    }

}

.copyright {
    display: flex;
    align-items: center;

    p {
        margin-left: 3px;
    }
}

.footer {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    padding: 16px 0 16px 8px;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.08);
    }

    .links-1,
    .links-2,
    .links-3 {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    a,
    span {
        color: rgba(22, 24, 35, 0.5);
        margin-right: 6px;
        margin-top: 5px;
    }
}
